body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 430px;
  background: #fff;
  margin: 16px auto;
  border: 8px solid white;
  box-sizing: border-box;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  padding: 8px;
  margin: auto;
  box-sizing: border-box;
}

.content {
  background: #e3f4ff;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  padding-right: 8px;
  margin-top: 8px;
  box-sizing: border-box;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
  margin-top: 8px;
  padding: 8px;
  box-sizing: border-box;
}

button {
  background: white;
  border: 1px solid #eee;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 24px;
  padding-right: 24px;
  margin: auto;
  display: block;
  box-sizing: border-box;
}